einops
mlflow
opencv-python
pytorch-lightning==1.5.10
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cu110
-f  https://download.pytorch.org/whl/torch_stable.html
torchvision==0.8.2+cu110
torchmetrics==0.7.3
tqdm
yacs
